@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: unset;
	}
}

@keyframes fade-in-and-down {
	from {
		opacity: 0;
		transform: translateY(-1rem);
	}

	to {
		opacity: unset;
		transform: unset;
	}
}
