$font-family: verdana, sans-serif;
$font-size: 14px;
$font-size-smaller-screens: 12px;
$font-size-print: 6.8pt;
$line-height: 1.5;

$content-margin-left: 9rem;

$transition-duration: 500ms;
$transition-duration-short: 150ms;

$breakpoint-large: 938px;
$breakpoint-medium: 760px;
