@import './keyframes';
@import './variables';

:root {
	--color: #2d2d2d;
	--color-diminished: #5f6368;
	--color-interactive: #3740ff;
}

html {
	background-color: #ddd;
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	-webkit-text-size-adjust: 100%; // stylelint-disable-line property-no-vendor-prefix
	text-size-adjust: none;
}

body {
	animation: fade-in $transition-duration / 2 $transition-duration / 2 ease-out backwards;
	background-color: #fff;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: var(--color);
	margin: 1rem auto;
	padding: 7rem 5.4rem;
	width: 65rem;
}

section,
.footer {
	box-shadow: 0 -1px;
}

section {
	padding: 1rem 0;
}

p,
ol,
ul,
li {
	&:last-child {
		margin-bottom: 0;
	}
}

p,
li {
	break-inside: avoid;
	margin: 0 0 0.4rem;
}

ol,
ul {
	margin: 0 0 1rem;
	padding-left: 1.6rem;
}

a {
	&[href] {
		color: var(--color-interactive);
	}

	&:not(:hover) {
		text-decoration: unset;
	}
}

abbr[title] {
	cursor: help;
}

.icon {
	stroke: currentColor;
	stroke-linecap: round;
	stroke-width: 0.2em;
}

.name {
	font-size: 150%;
	line-height: initial;
	margin: 0 0 1rem;
}

.header {
	padding-bottom: 1rem;
	text-align: center;

	ul,
	li,
	address,
	nav {
		display: inline;
	}

	ul {
		padding: 0;
	}

	address {
		font-style: unset;
	}

	address ul,
	li:not(:last-child) {
		margin: 0 0.5em 0 0;

		&::after {
			content: ' •';
			margin-left: 0.5em;
		}
	}
}

.footer {
	padding-top: 1rem;
	text-align: right;

	small {
		font-size: 50%;
		font-style: italic;
	}
}

.section-heading {
	break-after: avoid;
	break-inside: avoid;
	font-size: unset;
	margin: 0 0 1rem;
	text-transform: uppercase;

	~ p,
	~ ul {
		margin-left: $content-margin-left;
	}
}

.timeline {
	list-style: none;
	padding: 0;

	> li {
		break-inside: unset;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.timeline-date ~ ul,
.timeline-details > ul {
	list-style-type: initial;
}

.timeline-date {
	break-after: avoid;
	break-inside: avoid;
	float: left;
	font-style: italic;
	margin: 0;
	max-width: $content-margin-left - 1rem;

	~ p,
	~ ul,
	~ .position,
	~ .timeline-details {
		margin-left: $content-margin-left;
	}
}

.timeline-details {
	height: calc(var(--height-closed) * 1px);
	// Non hardware accelerated and modifies layout, so may be not be a smooth transition
	transition: height calc(100ms + (var(--height-open) - var(--height-closed)) * 0.5ms);

	&:not([open]) .timeline-summary::after {
		color: var(--color-diminished);
		content: 'More…';
		font-size: 80%;
		transition: color $transition-duration-short;
	}

	&[open] {
		height: calc(var(--height-open) * 1px);

		.timeline-summary {
			margin-bottom: 0.8rem;

			.icon {
				transform: rotateX(-0.5turn);
			}
		}

		> ul,
		.position {
			animation: fade-in-and-down $transition-duration ease-out;
		}
	}
}

.timeline-summary {
	cursor: pointer;
	list-style: none;
	padding-right: 2em;
	perspective: 1em;
	perspective-origin: calc(100% - 0.5em * #{$line-height}) calc(0.5em * #{$line-height});
	position: relative;
	-webkit-tap-highlight-color: transparent;

	&:focus:not(:focus-visible) {
		outline: unset;
	}

	&::-webkit-details-marker {
		display: none;
	}

	.icon {
		height: calc(1em * #{$line-height});
		position: absolute;
		right: 0;
		top: 0;
		transition: color $transition-duration-short, transform $transition-duration;
		width: calc(1em * #{$line-height});
	}
}

.organisation,
.institution {
	a {
		color: unset;
	}
}

.organisation {
	break-after: avoid;
	break-inside: avoid;
	font-size: unset;
	margin: 0 0 0.8rem $content-margin-left;
	text-transform: uppercase;

	.location {
		text-transform: initial;
		white-space: nowrap;
	}
}

.position {
	break-after: avoid;
	break-inside: avoid;
	font-size: unset;
	margin: 0 0 0.8rem;
}

.group,
.institution {
	font-style: italic;
}

@media (any-hover: hover) {
	.timeline-summary:hover .icon,
	.timeline-details:not([open]) .timeline-summary:hover::after {
		color: var(--color-interactive);
	}

	.timeline-summary:hover:active {
		outline: unset;
	}
}

@media (any-hover: none) {
	// Reset hover styles for non hover devices
	a[href]:hover,
	abbr[title] {
		text-decoration: unset;
	}

	abbr[title]::after {
		content: ' (' attr(title) ')';
	}
}

@media (any-pointer: coarse) {
	a[href] {
		display: inline-block;
		margin-bottom: -0.4rem;
		margin-top: -0.4rem;
		padding-bottom: 0.4rem;
		padding-top: 0.4rem;
	}
}

@media (prefers-reduced-motion) {
	.timeline-details {
		transition: unset;

		&[open] {
			> ul,
			.position {
				animation: unset;
			}
		}
	}
}

@media screen and (max-width: $breakpoint-large - 1px) {
	html {
		font-size: $font-size-smaller-screens;
	}

	body {
		margin: calc(1rem * #{$font-size / $font-size-smaller-screens});
		padding: 7rem 8%;
		width: unset;
	}
}

@media screen and (max-width: $breakpoint-medium - 1px) {
	html {
		background-color: unset;
	}

	body {
		background-color: unset;
		box-shadow: unset;
		margin: 0;
	}

	.section-heading ~ p,
	.section-heading ~ ul,
	.timeline-date ~ p,
	.timeline-date ~ ul,
	.timeline-date ~ .position,
	.timeline-date ~ .timeline-details,
	.organisation {
		margin-left: 0;
	}

	.timeline-date {
		float: right;
		margin-left: 1em;
		max-width: unset;
	}
}

@media print {
	@page {
		margin: 2cm 2.5cm;
	}

	html {
		background-color: unset;
		font-size: $font-size-print;
	}

	body {
		background-color: unset;
		box-shadow: unset;
		color: #000;
		padding: 0;
		width: unset;
	}

	section,
	.footer {
		border-top: 0.5pt solid;
		box-shadow: unset;
	}

	a[href] {
		color: unset;
	}

	abbr[title] {
		text-decoration: unset;

		&::after {
			content: ' (' attr(title) ')';
		}
	}

	.print-link[href][data-url] {
		&::after {
			content: attr(data-url);
		}

		.link-name {
			display: none;
		}
	}

	.timeline-details {
		&,
		&[open] {
			height: unset;
		}
	}

	.timeline-summary {
		padding-right: 0;

		.icon {
			display: none;
		}
	}
}
